.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background: gray;
  opacity: 0.8;
  overflow: hidden;
  top: 50%;
  width: 36px;
  height: 44px;
  margin-top: -22px;
  background-repeat: no-repeat;
  background-position-y: 6px;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  display: block;
}
.swiper-button-prev {
  left: 0;
  right: auto;

  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");
}

.swiper-button-next {
  right: 0;
  left: auto;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='none' viewBox='0 0 28 28' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  bottom: 0;
  left: 0;
}

.swiper-pagination-bullet {
  background: gray;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 2rem;
  background-color: #805ad5;
  border-radius: 5px;
}
